<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title tiles:fragment="title">Login</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div tiles:fragment="content">

    <div class="container border border-primary rounded mt-5" style="max-width: 600px;">

        <form name="f" th:action="@{/login}" method="post">
            <div class="m-3">
                <legend>Login</legend>
                <div th:if="${param.error}" class="alert alert-error">
                    Invalid username and password.
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    You have been logged out.
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">E-mail: </label>
                    <div class="col-8">

                        <input type="email" class="form-control" id="email" name="email" required />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Password: </label>
                    <div class="col-8">
                        <input type="password" class="form-control"
                               required minlength="6" id="password" name="password"/>
                    </div>
                </div>

                <a th:href="@{/signup}" class="mb-3" style="text-decoration:underline" >Go to signup</a>
                <div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
        </form>
    </div>

</div>
</body>
</html>