section {
    margin-bottom: 6rem;
}
.badge {
    font-size: 1rem;
    margin: 4px;
    font-weight: 500;
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}